    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About</h2>
              <br/>
                <p>The Kansas City Electronic Music and Arts Alliance (KcEMA) was founded in 2007 to encourage and develop understanding and appreciation of electronic music and to create an expansive sense of community for electronic musicians and other artists in the Kansas City Area. KcEMA organizes concerts of electronic music and collaborative projects with generative and performing artists. KcEMA provides a forum for electronic musicians and artists in other media to collaborate, exchange ideas, and grow as an interactive, supportive community.</p>
                <p>President: John Chittum<br>Vice-President: Christina Butera<br>Treasurer: Cody Kauhl<br>Secretary: Eli Hougland<br>Public Relations: Stacy Busch</p>
                <br/>
              </div>
        </div>
    </section>

