<section id="services">
<!-- Page Content -->
{% capture today %}{{ site.time | date: "%Y-%m-%d" }}{% endcapture %}
{% for page in site.pages %}
    {% capture season %}{{ page.date | date: "%Y-%m-%d" }}{% endcapture %}
        {% if season >=today %}
            <div class="content-section-b">

                <div class="container">

                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">{{ page.title }}</h2>
                            <div class="lead">{{ page.content | markdownify }}</div>
                        </div>
                        {% if page.img %}
                        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                            <img class="img-responsive" src="img/services/{{ page.img }}" alt="{{page.img_alt}}">
                        </div>
                        {% endif %}
                    </div>

                </div>
                <!-- /.container -->

            </div>
    {% endif %}
{% endfor%}
</section>
