<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        <!--{% include header.html %}<-->
        <div class="content-section-a">

            <div class="container">

                <div class="row">
                    <div class="col-lg-9 col-sm-9">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        {% if page.img %}
                        <img class="img-responsive" src="/img/blogs/{{ page.img }}" alt="{{post.img_alt}}">
                        {%endif%}
                        <h2 class="section-heading">{{ page.title }}</h2>
                        <h4> {{page.date | date: "%b %-d, %Y"}} </h4>
                        <h5> {{page.author}} </h5>
                        <div class="lead">{{ page.content | markdownify}}</div>
                        <a> {{page.tag}} </a>    
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        {% include contact.html %}
        {% include footer.html %}
        {% include js.html %}
    </body>
</html>
